@font-face {
  font-family: "Figtree";
  font-weight: 500;
  src: url("Figtree-VariableFont_wght.ttf");
}

@font-face {
  font-family: "FigtreeSemiBold";
  font-weight: 800;
  src: url("Figtree-SemiBold.ttf");
}

@font-face {
  font-family: "FigtreeExtraBold";
  font-weight: 800;
  src: url("Figtree-ExtraBold.ttf");
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Figtree", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

:root {
  --primary-color-yellow: hsl(47, 88%, 63%);
  --neutral-color-white: hsl(0, 0%, 100%);
  --neutral-color-grey: hsl(0, 0%, 50%);
  --neutral-color-black: hsl(0, 0%, 7%);
}

body {
  background-color: var(--primary-color-yellow);
}

h1 {
  font-family: "FigtreeExtraBold";
  font-size: 1.5rem;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card-image {
  height: fixed;
  width: 100%;
  aspect-ratio: attr(width) / attr(height);
  border-radius: 0.625rem;
}

.flex-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 24rem;
  background-color: var(--neutral-color-white);
  box-shadow: 0.5rem 0.5rem var(--neutral-color-black);
  padding: 1.5rem;
  gap: 1.5rem;
  outline: 1px solid var(--neutral-color-black);
  border-radius: 1.25rem;
  line-height: 150%;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  line-height: 150%;
}

.category {
  display: inline-block;
  width: auto;
  background-color: var(--primary-color-yellow);
  border-radius: 0.25rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  font-family: "FigtreeSemiBold";
  font-size: 0.875rem;
}

.publish-date {
  font-size: 0.875rem;
}

.description {
  font-size: 1rem;
  color: var(--neutral-color-grey);
  font-family: "Figtree";
  font-size: 500;
}

.author {
  display: flex;
  flex-direction: row;
  object-fit: contain;
  align-items: center;
  font-size: 0.875rem;
  font-family: "FigtreeSemiBold";
}

.author > img {
  height: 2rem;
  padding-right: 0.75rem;
}

.attribution {
  font-size: 0.6875rem;
  text-align: center;
  margin-top: 1.5rem;
  line-height: 150%;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
