@font-face {
  font-family: "Figtree", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 500;
  src: url("Figtree-VariableFont_wght.ttf");
}

@font-face {
  font-family: "FigtreeSemiBold";
  font-weight: 800;
  font-style: "semi-bold";
  src: url("Figtree-SemiBold.ttf");
}

@font-face {
  font-family: "FigtreeExtraBold";
  font-weight: 800;
  font-style: "extra-bold";
  src: url("Figtree-ExtraBold.ttf");
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Figtree", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

:root {
  --primary-color-yellow: hsl(47, 88%, 63%);
  --neutral-color-white: hsl(0, 0%, 100%);
  --neutral-color-grey: hsl(0, 0%, 50%);
  --neutral-color-black: hsl(0, 0%, 7%);

  --fs-h: 1.5rem;
  --fs-b-m: 1rem;
  --fs-b-s: 0.875rem;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: var(--primary-color-yellow);
}

main {
  max-width: 24rem;
  padding: 1.5rem;
  background-color: var(--neutral-color-white);
  box-shadow: 0.5rem 0.5rem var(--neutral-color-black);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5rem;
  /* in order to get the card to match pixels i used outline instead of border - preventing pixels taking up the padding space */
  outline: 1px solid var(--neutral-color-black);
  border-radius: 1.25rem;
  /* although the style guide and figma showed 150% line height, I found that this created issues with alignment on the category 
  and publish date sections.  modifying it to be relative to text height resolved this issue. */
  line-height: 1.3125rem;
  /* the margin left and right were necessary to add for very small screens - to keep the yellow background visible for 24px; */
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

h1 {
  font-family: "FigtreeExtraBold";
  font-style: "extra-bold";
  font-weight: normal;
  font-size: var(--fs-h);
  line-height: 150%;
}

/* considered using css for hover effect, but used javascript instead

h1:hover {
  color: var(--primary-color-yellow);
} */

.card-image {
  display: flex;
  height: fixed;
  max-width: 100%;
  /* by choosing cover for object fit property, the browser will crop the width of the image as needed for small screens while maintaining the height */
  object-fit: cover;
  aspect-ratio: attr(width) / attr(height);
  border-radius: 0.625rem;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.category {
  display: inline-block;
  width: auto;
  background-color: var(--primary-color-yellow);
  border-radius: 0.25rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  font-family: "FigtreeSemiBold";
  font-size: var(--fs-b-s);
}

.publish-date {
  font-size: 0.875rem;
}

.description {
  font-size: var(--fs-b-m);
  color: var(--neutral-color-grey);
  align-self: stretch;
  line-height: 150%;
}

.author {
  display: flex;
  flex-direction: row;
  object-fit: contain;
  align-items: center;
  font-size: 0.875rem;
  font-family: "FigtreeSemiBold";
}

.author > img {
  height: 2rem;
  padding-right: 0.75rem;
}

.attribution {
  font-size: 0.6875rem;
  text-align: center;
  margin: 1.5rem;
}

.attribution a {
  color: hsl(228, 45%, 44%);
  line-height: 1.3125rem;
}
